.HeaderLinks{
    margin-left: 10px;
}

.nav-1{
display: flex;
justify-content: space-around;
align-items: center;
height:10vh;
width: 100%;
background-color:rgb(255, 193, 193) ;

}
/* .nav2 {
    

} */