.create-post{

    width: 80%;
    margin-top: 20vh;
     height: 50vh;
     display: flex;
     align-items: center;
     justify-content: center;
     border-top: 4px solid black;
     border-bottom: 4px solid black;

}
.create-post >form{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    justify-content: flex-end;
}