.authenticationDiv{
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}
.authButton{
    font-size: 20px;
    height: 30px;
    width: 100px;



}

@media (max-width:600px)  {
    .authenticationDiv{
      
    
        row-gap: 5px;
        width: 100px;
    }
    .authButton{
    
        height: 40px;
        width: 40px;
    
    
    }
 }